<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="stylesheet.css">
        <title>360&#176; Geometry</title>
    </head>

    <body>
        <!-- 2:1 equirectangular viewport -->
        <div id="equirect_viewport">
            <h3>Equirectangular View</h3>
            <img src="../images/equirect_sample.png" alt="Equirectangular View">
        </div>

        <!-- top down view port -->
        <div id="topdown_viewport">
            <h3>Top-Down View</h3>
            <img src="../images/topdown_sample.png" alt="Top-Down View">
        </div>

        <!-- Object properties -->
        <div id="object_properties">
            <h3>{Object} Properties <button type="button" class="remove_object_button" onclick="alert('Not Implemented!')">Remove {Object}?</button></h3>
            <br>
            <p>
                Location:<br><br>
                X <input class="slider" type="range" min="-20" max="20" value="0"><br><br>
                Y <input class="slider" type="range" min="-20" max="20" value="0"><br><br>
                Z <input class="slider" type="range" min="-20" max="20" value="0">
            </p>
            <p>
                Rotation:<br><br>
                <input class="slider" type="range" min="-180" max="180" value="0"><br><br>
                <input class="slider" type="range" min="-180" max="180" value="0"><br><br>
                <input class="slider" type="range" min="-180" max="180" value="0">
            </p>
            <p>
                Scale:<br><br>
                <input class="slider" type="range" min="0.1" max="10" value="1" step="0.1"><br><br>
                <input class="slider" type="range" min="0.1" max="10" value="1" step="0.1"><br><br>
                <input class="slider" type="range" min="0.1" max="10" value="1" step="0.1">
            </p>

            <p>
                <button type="button" class="export_button" onclick="alert('Not Implemented!')">Export</button>
            </p>
        </div>

        <!-- Object list -->
        <div id="object_list">
            <h3>Objects  <button type="button" class="add_object_button" onclick="alert('Not Implemented!')">Add</button><br></h3>
            <!-- todo: Replace with for-loop to write down objects -->
            <button type="button" class="object_list_button" style="color: #0066ff;" onclick="alert('Not Implemented!')">{Object}</button><br>
            <button type="button" class="object_list_button" style="color: #ff1818;" onclick="alert('Not Implemented!')">{Object}</div><br>
        </div>

        <!-- 3D viewport -->
        <div id="normal_viewport">
            <h3>3D Perspective View</h3>
            <img src="../images/perspective_sample.png" alt="Perspective 3D View">
        </div>

    </body>

</html>